<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span>LIST OF PRODUCTS</span>
          <button class="btn btn-success float-end">NEW</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Coca Cola</td>
                <td>Drink</td>
                <td>Buenos Aires</td>
                <td>2</td>
                <td></td>
              </tr>
              <tr>
                <td>Malboro</td>
                <td>Cigarette</td>
                <td>Barcelona</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
